body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  width: 100%;
}
.card-wrapper{
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: -2px 7px 44px 2px rgba(34, 60, 80, 0.43);
  border-radius: 10px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}
.field-wrapper{
  display: flex;
  gap: 20px;

  padding: 50px;
  box-shadow: -2px 7px 44px 2px rgba(34, 60, 80, 0.43);
  margin-bottom: 20px;
}
.field-wrapper input{
  padding: 10px;
  border-radius: 5px;
}
.btn-wrapper{
  display: flex;
  gap: 10px;
}

.card-wrapper input{
  border-radius: 6px;

}